.properties {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 30px;
}

table {
    border: 2px solid black;
    width: 100%;
}

.mat-column-actions {
    width: 5% !important;
}