#container {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 10px;
	height: 100%;
	display: grid;
	grid-template-rows: 30% 30px auto;
}

#action {
	position: absolute;
	top: 32%;
	right: 0;
	margin: 30px;
	float: right;
}
